@font-face {
  font-family: poppins;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

body{
    background-color: #628AB3;
    display: flex;
    font-family: poppins;
    justify-content: center;
    margin: 0px;
}

.cont{
    text-align: center;
    background-color: #f9703a;
    color: aliceblue;
    padding:30px;
    border-radius: 10px;
    margin:10px;
    margin-top: 240px;
    font-size: 30px;
    transition: background-color 0.3s ease-out;
    text-decoration:none;
  }

  .cont:hover{
    background-color: #f93a57;
  }

  .JeArriver{
    position: fixed;
    z-index:1000;
    padding:10px;
    margin-top: 10px;
    font-size: 14px;
    bottom: 10px;
  }